.nav {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;
  position: relative;
  color: $White;
  &__searchbar {
    background: $Dark-blue;
    position: absolute;
    top: 10%;
    display: inherit;
    justify-content: center;
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    box-shadow: $Homepage-shadow;
    &--icon {
      font-size: 2.5rem;
      border: none;
      display: inherit;
      height: 100%;
      align-items: center;
      margin: 0 1rem;
    }
    &--input {
      border: none;
      background: $Dark-blue;
      width: 100%;
      outline: none;
      color: $White;
      &::placeholder {
        font-weight: $Semi-bold;
        color: $White;
        opacity: 1;
      }
    }
  }
  &__filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.5rem;
    top: 10%;
    left: -15%;
    width: 50%;
    box-shadow: $Homepage-shadow;
    &--select {
      background: $Dark-blue;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      padding: 0 0.5rem;
      font-weight: $Light;
      outline: none;
      color: inherit;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: #{$medium}) {
  .nav {
    justify-content: space-between;
    flex-wrap: wrap;

    &__searchbar {
      width: 50%;
      left: 5%;
      top: 20%;
    }
    &__filter {
      width: 15%;
      left: 40%;
      top: 20%;
    }
  }
}
